[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-cockroachdb = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"
black = "*"
ipython = "*"
flake8-docstrings = "*"
radon = "*"
flake8-pylint = "*"
flake8-bandit = "*"

[requires]
python_version = "3.8"
