[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
django-allauth = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.8"
