[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.8"
