/* Structure */

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#main-header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header h1 {
    text-align: center;
    flex-grow: 1;
}

#main-header ul {
    list-style-type: none;

    display: flex;
}

#main-header ul li {
    margin: 0 1em;
}

#main-header ul li a {
    padding: 0.5em 1em;
    border-radius: 0.3em;

    text-decoration: none;
}

#content {
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* Color */

#main-header {
    background-color: #464646;
}

#main-header h1 {
    color: white;
}

#main-header ul li a {
    background-color: #5cb85c;
    color: white;
}

/* Font */

#main-header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: bold;
}

#main-header ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
}
