#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3em;
}

#answer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answer-box p {
    font-size: 1.5em;
    text-align: center;
}

#answer-box input {
    padding: 0.1em;
    font-size: 2em;
    text-align: center;
}

#question-box {
    text-align: center;
}

#app a {
    padding: 0.5em;
    font-size: 1.1em;

    background-color: #5cb85c;
    color: white;

    border-radius: 0.3em;
}

#app input.correct {
    color: #5cb85c;
}

#app input.incorrect {
    color: #c9302c;
}
