{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <link href="{% static 'leasikApp/styles/base.css' %}" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        {% block head_scripts %}
        {% endblock %}
    </head>

    <body>
        <header id="main-header">
            <h1>Leasik</h1>
            <nav>
                <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'leasikApp:home' %}">My Lists</a></li>
                    <li><a>{{ request.user.username }}</a></li>
                {% else %}
                    <li><a>Log in with Google</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
