{% extends "leasikApp/base.html" %}

{% load static %}
{% load dictionary_access %}

{% block title %}{{ object }}{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<div id="app">
    {% if proficiencies.all %}
    <div id="answer-box">
        <p id="pre-blank">
            {% verbatim %}
            {{ preBlank }}
            {% endverbatim %}
        </p>
        <input
            v-model="answer" :class="answerCorrectness"
            @keyup.enter="sumbitAnswer"
        >
        <p id="post-blank">
            {% verbatim %}
            {{ postBlank }}
            {% endverbatim %}
        </p>
    </div>
    <p>
        {% verbatim %}
        {{ questions[currentQuestion].translation }}
        {% endverbatim %}
    </p>
    <a v-if="!isCurrentAnswerChecked" @click="checkAnswer">Check</a>
    <a
        v-else-if="currentQuestion < questions.length - 1"
        @click="showNextQuestion()"
    >
        Next
    </a>
    <a v-else @click="finish()">Finish</a>
    {% else %}
    <p>No words in this list!</p>
    {% endif %}
</div>
{% else %}
{% include "leasikApp/unauthenticated.html" %}
{% endif %}
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'leasikApp/styles/list_detail.css' %}">
{% endblock %}

{% block head_scripts %}
{% if proficiencies.all %}
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endif %}
{% endblock %}

{% block scripts %}
{% if proficiencies.all %}
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const updateProficiencyPostURL = "{% url 'leasikApp:update-proficiency' %}"
</script>

<script>
    const question_list = []
    {% for word in proficiencies %}
        {% get_item word as sentence %}
        question_list.push({
            'word_text': "{{ word|escapejs }}",
            'language': "{{ word.language|escapejs }}",
            'sentence': "{{ sentence.get_text|escapejs }}",
            'translation': "{{ sentence.get_english_translation|escapejs }}",
            'score': 0
        })
    {% endfor %}
</script>

<script src="{% static 'frontend/js/list_detail.js' %}"></script>
{% endif %}
{% endblock %}
