{% extends "leasikApp/base.html" %}

{% load static %}
{% load dictionary_access %}

{% block title %}{{ object }}{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<div id="app">
    <input>
    <p>
        {% verbatim %}
        {{ questions[currentQuestion].translation }}
        {% endverbatim %}
    </p>
    <a
        v-if="currentQuestion < questions.length - 1"
        @click="showNextQuestion()"
    >
        Next
    </a>
    <a v-else>Finish</a>
</div>
{% else %}
{% include "leasikApp/unauthenticated.html" %}
{% endif %}
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'leasikApp/styles/list_detail.css' %}">
{% endblock %}

{% block head_scripts %}
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}

{% block scripts %}
<script>
    const question_list = []
    {% for word in proficiencies %}
        {% get_item word as sentence %}
        question_list.push({
            'sentence': "{{ sentence.get_text|escapejs }}",
            'translation': "{{ sentence.get_english_translation|escapejs }}"
        })
    {% endfor %}
</script>

<script src="{% static 'frontend/js/list_detail.js' %}"></script>
{% endblock %}
