{% extends "leasikApp/base.html" %}

{% load static %}
{% load dictionary_access %}

{% block title %}{{ object }}{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<ul id="question-list">
{% for word in proficiencies %}
    <li>
        {% get_item word as sentence %}
        <word-test
            word="{{ word }}"
            sentence="{{ sentence.get_text }}"
            translation="{{ sentence.get_english_translation }}"
        >
        </word-test>
    </li>
{% endfor %}
</ul>
{% else %}
{% include "leasikApp/unauthenticated.html" %}
{% endif %}
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'leasikApp/styles/list_detail.css' %}">
{% endblock %}

{% block head_scripts %}
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}

{% block scripts %}
<script src="{% static 'frontend/js/list_detail.js' %}"></script>
{% endblock %}
