{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block title %}{{ object }}{% endblock %}


{% block auth_content %}
<div id="list-editor">
    <div id="add-new-sentence">
        <form
            action="{% url 'leasikApp:add-new-sentence' object.pk %}"
            method="post"
        >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}


{% block auth_stylesheets %}
<link 
    rel="stylesheet" 
    href="{% static 'leasikApp/styles/sentencelist_edit.css' %}">
{% endblock %}
