<div class="hero-head">
    <div class="block"></div>   <!-- for dummy space -->

    <div class="container has-text-centered">
        <div class="block">
            <a @click="bookmarkSentence()" class="button is-info"
                v-if="!questions[currentQuestionIndex].bookmarked"
            >
                Bookmark
            </a>
        </div>
    </div>
</div>

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="block">
            <p class="title is-3">
                {% verbatim %}
                {{ preBlank }}
                {% endverbatim %}
            </p>
            <input
                v-model="userEnteredAnswer" :class="answerCorrectness"
                @keyup.enter="sumbitAnswer" autofocus
                class="title is-3 has-text-centered py-1"
            >
            <p class="title is-3">
                {% verbatim %}
                {{ postBlank }}
                {% endverbatim %}
            </p>
        </div>

        <div class="block title is-6">
            <p class="block">
                {% verbatim %}
                {{ questions[currentQuestionIndex].translation }}
                {% endverbatim %}
            </p>

            <div class="block">
                {% verbatim %}
                <textarea class="p-2"
                    v-model="note">{{ questions[currentQuestionIndex].note }}
                </textarea>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>

<div class="hero-foot">
    <div class="container has-text-centered block">
        <a v-if="!isCurrentAnswerChecked" @click="sumbitAnswer()"
            class="button is-primary"
        >
            Check
        </a>
        <a
            v-else-if="currentQuestionIndex < questions.length - 1"
            @click="sumbitAnswer()" class="button is-primary"
        >
            Next
        </a>
        <a v-else @click="sumbitAnswer()" class="button is-primary">
            Finish
        </a>
    </div>

    <div class="block"></div>   <!-- for dummy space -->
</div>
