{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block title %}List List{% endblock %}


{% block auth_content %}
<div class="block">
</div>

<div class="container is-fluid">
    <div class="block">
        <a class="button is-primary is-rounded"
            href="{% url 'leasikApp:new-list' %}"
        >
            Create a new list
        </a>
    </div>

    <div class="block">
        {% for list in object_list %}
        <div class="card block">
            <header class="card-header">
                <h2 class="card-header-title">{{ list.name }}</h2>
            </header>

            <div class="card-content">
                <div class="content">
                    <p>{{ list.description }}</p>
                </div>
            </div>
            
            <footer class="card-footer">
                {% if list.owner == request.user %}
                <a class="card-footer-item button is-danger is-inverted">
                    Delete
                </a>
                
                <a href="{% url 'leasikApp:list-edit' list.slug %}"
                    class="card-footer-item button is-info is-inverted"
                >
                    Edit
                </a>
                {% endif %}
                
                <a href="{% url 'leasikApp:list-detail' list.slug %}"
                    class="card-footer-item button is-primary is-inverted"
                >
                    Play
                </a>

                <a href="{% url 'leasikApp:list-bookmarks' list.slug %}"
                    class="card-footer-item button is-success is-inverted"
                >
                    Bookmarks
                </a>
            </footer>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
