{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block title %}{{ object }}{% endblock %}


{% block auth_content %}
<div id="app">
    {% if object_list %}
        <div id="answer-box">
            <p id="pre-blank">
                {% verbatim %}
                {{ preBlank }}
                {% endverbatim %}
            </p>
            <input
                v-model="userEnteredAnswer" :class="answerCorrectness"
                @keyup.enter="sumbitAnswer" autofocus
            >
            <p id="post-blank">
                {% verbatim %}
                {{ postBlank }}
                {% endverbatim %}
            </p>
        </div>

        <div id="question-box">
            <p id="question">
                {% verbatim %}
                {{ questions[currentQuestionIndex].translation }}
                {% endverbatim %}
            </p>

            <hr>

            <div id="note">
                {% verbatim %}
                <textarea
                    @v-model="note">{{ questions[currentQuestionIndex].note }}
                </textarea>
                {% endverbatim %}
            </div>
        </div>

        <a v-if="!isCurrentAnswerChecked" @click="checkAnswer">Check</a>
        <a
            v-else-if="currentQuestionIndex < questions.length - 1"
            @click="showNextQuestion()"
        >
            Next
        </a>
        {% if page_obj.has_next %}
            <a
                id="next-page-link"
                v-else-if="hasNextPage" 
                href="?page={{ page_obj.next_page_number }}"
            >
                Next
            </a>
        {% endif %}
        <a id="finish-quiz" v-else href="{% url 'leasikApp:home' %}">Finish</a>
    {% else %}
        <p>No sentences in this list!</p>
    {% endif %}
</div>
{% endblock %}


{% block auth_stylesheets %}
<link rel="stylesheet" href="{% static 'leasikApp/styles/sentence_list.css' %}">
{% endblock %}


{% block auth_head_scripts %}
{% if object_list %}
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endif %}
{% endblock %}


{% block auth_scripts %}
{% if object_list %}
    {% csrf_token %}
    
    <script>
        const csrfTokenSelector = '[name=csrfmiddlewaretoken]'
        const csrftoken = document.querySelector(csrfTokenSelector).value
        const updateProficiencyPostURL = (
            "{% url 'leasikApp:update-proficiency' %}"
        )
        const hasNextPage = '{{ page_obj.has_next }}' === 'True'
    </script>

    <script>
        const question_list = []
        {% for sentence, note in object_list %}
            question_list.push({
                'id': {{ sentence.id }},
                'sentence': "{{ sentence.text|escapejs }}",
                'translation': "{{ sentence.translation|escapejs }}",
                'score': 0,
                'note': "{{ note.note|escapejs }}"
            })
        {% endfor %}
    </script>

    <script src="{% static 'frontend/js/quiz_app-min.js' %}"></script>
{% endif %}
{% endblock %}
