{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block title %}List List{% endblock %}


{% block auth_content %}
<a id="new-list-button" href="{% url 'leasikApp:new-list' %}">
    Create a new list
</a>


<ul id="list-list">
{% for list in object_list %}
    <li>
        <div class="list">
            <h2>{{ list.name }}</h2>
            <div class="list-actions">
                <a class="list-delete-action">Delete</a>
                
                <a href="{% url 'leasikApp:list-edit' list.slug %}"
                    class="list-edit-action"
                >
                    Edit
                </a>
                
                <a href="{% url 'leasikApp:list-detail' list.slug %}"
                    class="list-play-action"
                >
                    Play
                </a>
            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}


{% block auth_stylesheets %}
<link
    rel="stylesheet"
    href="{% static 'leasikApp/styles/sentencelist_list.css' %}">
{% endblock %}
