{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block auth_content %}
<div id="list-editor">
    <ul id="existing-sentence-list">
    {% for sentence in object.sentences.all %}
        <li>
            <div class="existing-sentence-list-item">
                <h3>{{ sentence }}</h3>
                <a>Delete</a>
            </div>
        </li>
    {% endfor %}
    </ul>

    <div id="add-new-sentence">
        <form
            action="{% url 'leasikApp:add-new-sentence' object.pk %}"
            method="post"
        >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}


{% block auth_stylesheets %}
<link 
    rel="stylesheet" 
    href="{% static 'leasikApp/styles/sentencelist_edit.css' %}">
{% endblock %}
