{% extends "leasikApp/base_authorized.html" %}


{% load static %}


{% block title %}{{ list_object.name }}{% endblock %}


{% block auth_content %}
<div id="app" class="hero is-fullheight-with-navbar">
    {% if object_list %}
    <div class="hero-head">
        <div class="block"></div>

        <div class="container has-text-centered">
            <div class="block" v-if="speechSynthesisAvailable">
                <select @change="changeSelectedLanguage($event)" class="button">
                    <option value="" selected disabled>Choose voice</option>
                    <option
                        v-for="language in voices"
                        :value="language.id"
                        :key="language.id"
                    >
                        {% verbatim %}
                        {{ language.lang }}
                        {% endverbatim %}
                    </option>
                </select>

                <a @click="playAudio()" class="button is-info">Play audio</a>
            </div>

            <div class="block">
                <a @click="bookmarkSentence()" class="button is-info">
                    Bookmark
                </a>
            </div>
        </div>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="block">
                <p class="title is-3">
                    {% verbatim %}
                    {{ preBlank }}
                    {% endverbatim %}
                </p>
                <input
                    v-model="userEnteredAnswer" :class="answerCorrectness"
                    @keyup.enter="sumbitAnswer" autofocus
                    class="title is-3 has-text-centered py-1"
                >
                <p class="title is-3">
                    {% verbatim %}
                    {{ postBlank }}
                    {% endverbatim %}
                </p>
            </div>

            <div class="block title is-6">
                <p class="block">
                    {% verbatim %}
                    {{ questions[currentQuestionIndex].translation }}
                    {% endverbatim %}
                </p>

                <div class="block">
                    {% verbatim %}
                    <textarea class="p-2"
                        v-model="note">{{ questions[currentQuestionIndex].note }}
                    </textarea>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container has-text-centered block">
            <a v-if="!isCurrentAnswerChecked" @click="sumbitAnswer()"
                class="button is-primary"
            >
                Check
            </a>
            
            <a
                v-else-if="currentQuestionIndex < questions.length - 1"
                @click="sumbitAnswer()" class="button is-primary"
            >
                Next
            </a>

            <a v-else @click="sumbitAnswer()" class="button is-primary">
                {% if page_obj.has_next %}
                    Next
                {% else %}
                    Finish
                {% endif %}
            </a>
        </div>

        <div class="block"></div>
    </div>
    {% else %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">No sentences in this list!</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block auth_stylesheets %}
<link rel="stylesheet" href="{% static 'leasikApp/styles/sentence_list.css' %}">
{% endblock %}


{% block auth_head_scripts %}
{% if object_list %}
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endif %}
{% endblock %}


{% block auth_scripts %}
{% if object_list %}
    {% csrf_token %}
    
    <script>
        const csrfTokenSelector = '[name=csrfmiddlewaretoken]'
        const csrftoken = document.querySelector(csrfTokenSelector).value
        const listID = {{ list_object.id }}

        const bookmarkURL = "{% url 'leasikApp:bookmark-sentence' %}"
        const updateProficiencyPostURL = (
            "{% url 'leasikApp:update-proficiency' %}"
        )
        const updateNoteURL = "{% url 'leasikApp:update-note' %}"
        const quizFinishRedirectURL = "{% url 'leasikStaticPages:home-page' %}"
        
        const hasNextPage = '{{ page_obj.has_next }}' === 'True'
        {% if page_obj.has_next %}
        const nextPageNumber = "{{ page_obj.next_page_number }}"
        const nextPageURL = (
            `${window.location.href.split('?')[0]}?page=${nextPageNumber}`
        )
        {% endif %}
    </script>

    <script>
        const question_list = []
        {% for card in object_list %}
            question_list.push({
                'id': {{ card.sentence.id }},
                'sentence': "{{ card.sentence.text|escapejs }}",
                'translation': "{{ card.sentence.translation|escapejs }}",
                'score': 0,
                'note': "{{ card.note|escapejs }}"
            })
        {% endfor %}
    </script>

    <script src="{% static 'frontend/js/quiz_app-min.js' %}"></script>
{% endif %}
{% endblock %}
